{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="page-header bg-img size-lg">
        <div class="container">
            <div class="header-detail">
                {% if object.logo %}
                    <img class="logo" src="{{ object.logo.url }}" alt="">
                {% else %}
                    <img class="logo" src="{% static 'img/logo-default.png' %}" alt="">
                {% endif %}
                <div class="hgroup">
                    <h1>{{ object.name }}</h1>
                    <h3>{{ object.headline }}</h3>
                </div>
                <hr>
                <p class="lead">{{ object.short_description }}</p>
            
                <ul class="details cols-3">
                    <li class="text-left">
                        <i class="fa fa-map-marker"></i>
                        <span>{{ object.location }}</span>
                    </li>
                    <li class="text-center">
                        <i class="fa fa-globe"></i>
                        <a href="http://{{ object.link }}/">{{ object.link }}</a>
                    </li>
                    <li class="text-right">
                        <i class="fa fa-eye"></i>
                        <span>{{ object.views_count }}</span>
                    </li>
                </ul>

                {% if user.pk == object.user.pk %}
                    <div class="button-group">
                        <div class="action-buttons">
                            <a class="btn btn-primary" href="{% url 'companyapp:edit' object.pk %}">Редактировать карточку компании</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main container -->
    <main>
        <!-- Company detail -->
        <section>
            <div class="container">
                <header class="section-header">
                    <h2>О Компании</h2>
                </header>
                <p>{{ object.detail }}</p>       
            </div>
        </section>
        <!-- END Company detail -->

        <!-- Open positions -->
            {% include 'companyapp/company_detail-jobs.html' with jobs=object.jobs.select_related %}
        <!-- END Open positions -->

    </main>
    <!-- END Main container -->
{% endblock %}

{% block footer %} {% endblock %}