{% extends 'base.html' %}
{% load static %}

{% block header %}

<!-- TODO Решить вопрос с безопасностью - скрыть от чужих пользователей -->

<form method="POST"> {% csrf_token %}
    <!-- Page header -->
    <header class="page-header alt">
        <div class="container page-name">
            <h1 class="text-center">Карточка Вакансии</h1>
            <p class="lead text-center">Создавайте, редактируйте и публикуйте вакансии Вашей Компании</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-2">
                            <div class="form-group">
                                {% if user.company.logo %}
                                    <img src="{{ user.company.logo.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'img/logo-default.png' %}" alt="">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-lg-10">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" value="{{ user.company.name }}" disabled>
                            </div>
                            <div class="form-group">
                                <textarea name="short_description" maxlength="255" required id="id_short_description" class="form-control"
                                    rows="3" placeholder="Краткое описание (255 символов максимум)">{{ object.short_description }}</textarea>
                            </div>
                            {{ form.errors.short_description }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row text-center">
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
                                <select name="grade" id="id_grade" class="form-control">
                                    {% for key, value in form.grade.field.choices %}
                                        <option value="{{ key }}" {% if key == object.grade %} selected {% endif %}>
                                            {% firstof value 'Квалификация' %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form.errors.grade }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                <select name="category" id="id_category" class="form-control">
                                    {% for key, value in form.category.field.choices %}
                                        <option value="{{ key }}" {% if key == object.category %} selected {% endif %}>
                                            {% firstof value 'Специализация' %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form.errors.category }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                <input type="text" name="salary" value="{{ object.salary }}" min="0"
                                    id="id_salary" class="form-control" placeholder="Зарплата">
                            </div>
                            {{ form.errors.salary }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <input type="text" name="city" value="{{ object.city }}" maxlength="255"
                                    required id="id_city" class="form-control" placeholder="Город">
                            </div>
                            {{ form.errors.city }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 text-right">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <select name="employment" id="id_employment" class="form-control">
                                    {% for key, value in form.employment.field.choices %}
                                        <option value="{{ key }}" {% if key == object.employment %} selected {% endif %}>
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form.errors.employment }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 text-right">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
                                <select name="work_schedule" id="id_work_schedule" class="form-control">
                                    {% for key, value in form.work_schedule.field.choices %}
                                        <option value="{{ key }}" {% if key == object.work_schedule %} selected {% endif %}>
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form.errors.work_schedule }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 text-right">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-star-half-full"></i></span>
                                <select name="experience" id="id_experience" class="form-control">
                                    {% for key, value in form.experience.field.choices %}
                                        <option value="{{ key }}" {% if key == object.experience %} selected {% endif %}>
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form.errors.experience }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 text-right">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="text" name="skills" maxlength="255" id="id_skills" value="{{ object.skills }}"
                                    class="form-control" placeholder="Ключевые навыки (введите через ,)">
                            </div>
                            {{ form.errors.skills }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END Page header -->

    <!-- Main container -->
    <main>
        <!-- Job detail -->
        <section>
            <div class="container">
                <header class="section-header">
                    <h2>Подробное описание вакансии</h2>
                    <p>Подробно опишите вакансию, обязанности, требуемые навыки, условия работы, преимущества и т.д.</p>
                </header>
                <textarea name="description" id="id_description" class="summernote-editor form-control" rows="12"
                    placeholder="Подробное описание">{{ object.description }}</textarea>
                {{ form.errors.description }}
            </div>
        </section>
        <!-- END Job detail -->

        <!-- Moder Comment -->
        {% if object.status == '0' %}
        <section>
            <div class="container">
                <label for="id_moder_comment" id="moder_comment">Замечания модератора:</label>
                <textarea name="moder_comment" rows="3" disabled id="id_moder_comment"
                    class="form-control">{{ object.moder_comment }}</textarea>
                {{ form.errors.moder_comment }}
            </div>
        </section>
        {% endif %}
        <!-- END Moder Comment -->

        <!-- Submit -->
        <section>
            <div class="container">
                <header class="section-header">
                    <h2>Сохранить</h2>
                    <p>Пожалуйста, проверьте указанную Вами информацию и нажмите на кнопку "Опубликовать".
                        После проверки модератором, Вакансия станет доступна другим пользователям.</p>
                    <p>Или сохраните как "Черновик", чтобы позже вернуться к редактированию. Черновики не видны
                        другим пользователям.</p>
                    <br>
                    {{ form.non_field_errors }}
                    <br>
                    <div id="id_status">
                        <button class="btn btn-primary" name="status" value="2" type="submit">Опубликовать</button>
                        <button class="btn btn-success" name="status" value="4" type="submit">Сохранить Черновик</button>
                    </div>
                </header>
            </div>
        </section>
        <!-- END Submit -->
    </main>
    <!-- END Main container -->
</form>
{% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}