<!-- Site footer -->
<footer class="site-footer">

    <!-- Top section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6> О проекте </h6>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut repellendus rem nobis dolores ad exercitationem!
                    Culpa commodi ipsam totam nemo eaque, atque est consequatur unde earum, vitae tempora doloremque.
                    Voluptatem modi tempora quia consectetur nulla quos error sed ad odit nam, quae, voluptas cumque.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6> {{ title_name }} </h6>
                <ul class="footer-links">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Напишите нам</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Популярные направления</h6>
                <ul class="footer-links">
                    <li><a href="#">Front-end developer</a></li>
                    <li><a href="#">Android developer</a></li>
                    <li><a href="#">Python developer</a></li>
                    <li><a href="#">Full stack developer</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2021 All Rights Reserved by
                    <a href="#">GeekStaff</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="vk" href="#"><i class="fa fa-vk"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Bottom section -->

</footer>
<!-- END Site footer -->