{% load static %}

<section class="bg-alt">
    <div class="container">
        <header class="section-header">
            <h2>Недавние вакансии</h2>
            <p>Последние предложения о работе, размещённые на сайте</p>
        </header>

        <div class="row item-blocks-connected">

            <!-- Job item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <img src="{% static 'img/logo-google.jpg' %}" alt="" />
                        <div class="hgroup">
                            <h4>Сеньор Frontend разработчик</h4>
                            <h5>Google</h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">Калифорния</span>
                            <span class="label label-success">Полная занятость</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END Job item -->

            <!-- Job item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <img src="{% static 'img/logo-linkedin.png' %}" alt="" />
                        <div class="hgroup">
                            <h4>Software Engineer (Entry or Senior)</h4>
                            <h5>Linkedin</h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">Ливермор, Калифорния</span>
                            <span class="label label-success">Удалённо</span>
                            <span class="label label-warning">Частичная занятость</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END Job item -->

            <!-- Job item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <img src="{% static 'img/logo-envato.png' %}" alt="" />
                        <div class="hgroup">
                            <h4>FullStack Web разработчик</h4>
                            <h5>Envato</h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">Сан Франциско, Калифорния</span>
                            <span class="label label-info">Фриланс</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END Job item -->

            <!-- Job item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <img src="{% static 'img/logo-facebook.png' %}" alt="" />
                        <div class="hgroup">
                            <h4>Web разработчик</h4>
                            <h5>Facebook</h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">Лексингтон, Массачусетс</span>
                            <span class="label label-danger">Стажировка</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END Job item -->

            <!-- Job item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
                        <div class="hgroup">
                            <h4>Сеньор SQL Server разработчик</h4>
                            <h5>Microsoft</h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">Пало Альта, Калифорния</span>
                            <span class="label label-success">Удалённо</span>
                            <span class="label label-success">Полная занятость</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END Job item -->
            
        </div>
        <br /><br />
        <p class="text-center"><a class="btn btn-info" href="#">Больше вакансий</a></p>
    </div>
</section>