{% load static %}

<section class="bg-alt">
    <div class="container">
        <header class="section-header">
            <h2>Наши партнёры</h2>
            <p>IT-Компании</p>
        </header>

        <div class="category-grid">

            <a href="#">
                <img src="{% static 'img/logo-google.jpg' %}" alt="" />
                <h6>Google</h6>
                <p>Цель компании – упорядочить всю информацию и сделать ее доступной</p>
            </a>

            <a href="#">
                <img src="{% static 'img/logo-facebook.png' %}" alt="" />
                <h6>Facebook</h6>
                <p>Give people the power to build community and bring the world closer together</p>
            </a>

            <a href="#">
                <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
                <h6>Microsoft</h6>
                <p>Microsoft – обеспечивает продуктивность в мире, где царят мобильность и облако</p>
            </a>

            <a href="#">
                <img src="{% static 'img/logo-microsoft.jpg' %}" alt="" />
                <h6>Microsoft</h6>
                <p>Microsoft – обеспечивает продуктивность в мире, где царят мобильность и облако</p>
            </a>

            <a href="#">
                <img src="{% static 'img/logo-google.jpg' %}" alt="" />
                <h6>Google</h6>
                <p>Цель компании – упорядочить всю информацию и сделать ее доступной</p>
            </a>

            <a href="#">
                <img src="{% static 'img/logo-facebook.png' %}" alt="" />
                <h6>Facebook</h6>
                <p>Give people the power to build community and bring the world closer together</p>
            </a>

        </div>
        <p class="text-center"><a class="btn btn-info" href="#">Посмотреть всех партнёров</a></p>
    </div>
</section>