<section class="bg-alt">
    <div class="container">
        <header class="section-header">
            <h2>Последние Новости</h2>
            <p>Самая свежая информация из мира IT-рекрутинга</p>
        </header>

        <div class="row item-blocks-connected">
            
            <!-- News item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <div class="hgroup">
                            <h4>Срочные новости из кремниевой долины</h4>
                            <h5>Илон Маск планирует расширение компании во 2-м квартале год...</h5>
                        </div>
                        <div class="header-meta">
                            <div class="ti-time"> 05.03.21 09.21</div>
                            <span class="news label label-success">Подробнее...</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END News item -->

            <!-- News item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <div class="hgroup">
                            <h4>Очередные новости мира Frontend-а</h4>
                            <h5>В ходе очередной прошедшей конференции разработчиков, отме...</h5>
                        </div>
                        <div class="header-meta">
                            <div class="ti-time"> 04.03.21 16.40</div>
                            <span class="news label label-success">Подробнее...</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END News item -->

            <!-- News item -->
            <div class="col-xs-12">
                <a class="item-block" href="#">
                    <header>
                        <div class="hgroup">
                            <h4>Топ 15 трендов рекрутинга 2020 года</h4>
                            <h5>Самые современные подходы, которые значительно повлияют на...</h5>
                        </div>
                        <div class="header-meta">
                            <div class="ti-time"> 04.03.21 10.17</div>
                            <span class="news label label-success">Подробнее...</span>
                        </div>
                    </header>
                </a>
            </div>
            <!-- END News item -->

        </div>
        <br /><br />
        <p class="text-center"><a class="btn btn-info" href="#">Все новости</a></p>
    </div>
</section>